
@import url("https://fonts.googleapis.com/css?family=Syne Tactile");
body{
    background-image: url("excuse.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container{
    margin: auto;
    width: 70%;
    margin-bottom:25%;
    padding: 0.5rem;
    
}

h1{
    font-family: "Syne Tactile";
    text-align: center;
    font-size: 4rem;
    
}

.choose{
    text-align: center;
    font-size: 2rem;
    padding-left: 1rem;
    
}

#language{
    text-align: center;
    font-size: 1.5rem;
    width:8rem;
    
}


#category{
    text-align: center;
    font-size: 1.5rem;
    width:8rem
    
}
#myBtn{
    margin: auto;
    width:8rem;
    height: 3rem;
}
#demo{
    min-height: 23rem;
}
#desc{
    font-size: 2rem;
}
.footer{
    background-color: #001933;
    margin : 0%;
    padding:2%;
    text-align: center;
    color: white;
}